/* Temporary CSS file, since the current GitHub repo version of the global CSS is a bit incomplete (and im student 3, meaning im not meant to work on the global css) */


.hero-img {
    width: 70%;
    max-width: 800px;
    margin: auto;
    margin-bottom: 2em;
}
