.hero-img {
    width: 70%;
    max-width: 800px;
    margin: auto;
    margin-bottom: 2em;
}

.hero h1 {
    font-size: 2.2em;
    margin-bottom: 0.6em;
    color: #1f2937;
    text-align: center;

}

.go-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: inline-block;
    padding: 12px 18px;
    text-decoration: none;
    background-color: #00CED1;
    opacity: 0.7;
    color: white;
    border-radius: 10px;
    transition: 0.5s;
}

a.go-top {
  color: #0f172a;
}

.go-top:hover {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.page-nav {
    background-color: #e8f3e4;
    border-left: 5px solid #7aa874;
    padding: 1.25em 1.5em;
    border-radius: 10px;
    margin: 2em 0;
}

.page-nav-list {
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.page-nav h2 {
    margin-right: 1em;
    font-size: 1.4rem;
    display: block;
}

.page-nav-list li:last-child {
    margin-bottom: 0;
}

.page-nav-list li {
    margin-bottom: 0.6em;
}

.page-nav-list a {
    text-decoration: none;
    color: #1f2937;
    font-weight: 550;
}

.page-nav-list a:hover {
    color: #3b82f6;
}
