.page-intro {
  text-align: center;
}

.page-intro h1 {
  margin-bottom: 0.5em;
}

.programmes-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 1.5em;
}

.programme-card {
  background-color: #e6f2ff;
  border: 1px solid #cfe4ff;
  border-radius: 12px; 
  /* Add padding to card so there is more space between the content inside card and border, so image and text don't touch the edge of card.
  This was better than using horizontal margins because I would've needed to add horizontal margins and specifically select each child element in the card such as p, img, h3 
  And also the global css already styles all elements to have border-box box sizing, so that the padding itself accounts to entire width of elements, so the cards don't over their layouts and stick out more than the feedback page
  */
  padding: 1em; 
}

.programme-card img {
  width: 100%;
  height: 200px;
  margin: 0.75em 0;
  object-fit: cover; /* This CSS property styles how the image content itself is fitted inside the img element box, in this case, the css value scale the image (but keep the original proportions) so the whole img box is covered */
}